.Blog .info1{

    font-size: 18px;
    padding-bottom: 10px;
}
.Blog .info1 a{
  font-size: clamp(14px, 1.2vw, 18px);

}


@media screen and (max-width:500px){
.Blog1{
  background-color: white;
  padding: 0px;
  margin: 0px;
}
.Blog1.Pop {padding: 0px;
  margin: 0px;

}
.Blog1.Pop.pop1 { padding: 0px !important;
  margin: 0px !important;

}
.Blog-Title{
  padding: 0px;
  margin: 0px;
}


}