.strip {
  padding: 2px;
  border-top: 2px solid black;
  border-bottom: 2px solid black; 
  background-color: white;
  align-items: center;
  justify-content: center;
  max-height: 35px;

}
.Login-Badge{
  border: 3px solid rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  
  
}
.Login-Badge a{
 
}
.Login-Badge{
  border-radius: 40px;
}

.container {
 
  display: flex;
 align-items: center;
 justify-content: space-between;
width: 90%;
 margin: auto;
 justify-content: center;
 
}
.strip a:hover{
  color: #007BFF;
}



.element-1 {
 
  align-items: center;
  justify-content: center;
 
  font-size: 18px;
  color:black;
  font-weight: bold;
  width: 50%;
 
}

.element-2 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
 
  

}
header .strip{

    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.list{
    color: black;
    list-style: none;
    display: flex;
    gap:20px;
    font-size: 13px;
    transition: 2s;
    font-weight: bold;
    align-items: center;
    
   
}

.link{color: darkgrey}
.header {
  width: 100%;
  padding: 1px 0;
  ;
}

.container-head {
  display: flex;
  align-items: center;
 justify-content: flex-start
 ;
  
}

.col1 {
  width: 30%;

}
.Col-2{
  padding-right: 60px;
}

.col2 {
  width: 50%;
}

.col3 {
  width: 30%;
}

.col1 img {
  width: 150px;
  height: auto;
  display: block;
  margin-top: -30px;
 margin-left: 70px;
}
.col3 {
display: flex;
align-items: center;
justify-content: start;

}
.cart-theme{
  background-color: #f8f8f8;
  padding:15px;
  border-radius: 30px;
}
.PAdding{
  padding-right: 40px;
}
.col3 .Options{
  list-style: none;
display: flex;
gap:10px;
margin-top: -10px;

}
.cart-theme{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login2{color: black;
  padding-right: 2px;
}
.login2:active{color: blue;
   ;
}
.login2:hover{color: blue;}
.signup{color:black;
padding-left:5px;
font-size: 12px;
}
.signup:active{color: blue;}
.signup:hover{color: blue;}
.header{
  border:1px solid lightgrey;
  margin-bottom: 10px;
  height: 100px ;
  box-sizing: border-box;
 
}



.cart .link1{
  font-size: 20px;
  color: inherit;
    color: black;
      text-decoration: none;
      list-style: none;

}
.link1:active{color:blue;list-style: none;}
.link:hover{color:blue}
.carts{
 
  list-style: none;
display: flex;
justify-content: center;
padding-bottom: 15px ;
gap: 10px;
padding-right: 40px; 
padding-left: 0px;
margin-left: -70px;
position: relative;
left: 10px;
}
.header{background-color: rgb(255, 255, 255);
margin-bottom: 0px;}

.cart{
  cursor: pointer;
}
.link1{
  cursor: pointer;
}

.pic{

  z-index: -1;
}

.strip{z-index: 10001;}
.login{
  margin-left: 30px;
  font-weight: bold;
}


@media screen and (max-width:500px) {
 
  .deal{
    font-size: 10px;
  }
  .element-2 a{   font-size: 10px;
    height: 20px;
  align-items: center;}

.strip{
  max-width: 100%;

}
.mobilefrontlogo{
  gap: 0px !important;
}
.header{
  width: 100%;
}

.element-2{
  font-size: 10px;
  align-items: center;
}
.Col-2{
  padding-right: 0px;
}
  .cart-theme{
 background-color: transparent
}
  .container-head{
    width: 100%;
 
}
.header{
  height: 70px;
}
.col1 img{
  max-width: 40px;
 
}
.col1 {
  max-width: 40px;
}
.col1{
  max-width: 5%;
  padding-top: 20px;
}
.col3{
  padding-top: 10px;
}
.frontmobileimage{
   max-width: 20px !important;

}
.Col-2{
  padding-top: 30px;
}
.col3{
  
}
.cart-theme{
  width: 5px;
}
.element-2{
  
  display: flex;
  
}
.link1{
  width: 10px;
}
.homelogo{
width: 15px !important;
}
.login{
  width: 10px;
}
.cart {
  gap: 3px;
}
.mobilefrontlogo {
  margin-left: 22px;
 
}
.header{
  width: 100%;
}
 .list{
    gap: 0px;
  }

  .strip .container{
    padding: 0px;
   width: 100%;
    margin: 5px;
  }
.strip{
  padding: 0px;
}
.element-2{
  padding: 0px;
  margin: 0px;
gap: 10px;

}
.element-items{
  display: flex;
  gap: 10px !important;
  padding: 0px;
  margin: 0px;
  justify-content: start;
  align-items: center;

}
.element-1{
  max-width: 30%;
}
.Mobile-Review-Card{
  flex-direction: column;
}
.Card-Review-Hover{
 width: 100%;
}


}
.link1{
width: 5px;
}
.container-head{
  margin-top: 10px;
  

}
.login{
  margin-left: 0px;
  font-weight: bold;
}
.col3{
  padding-left: 0px;
  margin-left: 0px;
}
.Options{
  
}
.col1 img{
  margin-left: -30px;
}


.Image-Review{
  border-radius: 50%;
  width: 120px !important;
  height: 120px !important;
  display: flex ;
 
}
.Cards-Container-Reviews{
  margin-top: 50px !important;
  flex-wrap:wrap
}
.Card-Review-Hover:hover{
  transform: translateY(-4px);
  cursor: pointer;
}

.Margin-Slider{
    margin-top: -22px;
}