.Slider{

    background-color: white;
 

    margin-left: 25px;
    

     max-height: 600px !important;
 width: 1500px !important;
     margin-right: 5px;


     display:flex
    
 

   
}
 
.Slider .swiper-wrapper{
    box-shadow: 0px 6px 6px rgba(0,0,0,0.1);
    

}


@media screen and (max-width:600px){

    .Slider{
        background-color: black;
       
             width: 453px;
        height: 200px;
        padding-left: -200px;
        padding: 0px;
      margin: 0px;
    } 
    .mobileSlide{
        width: 453px;
        background-color: black;
        height: 200px;
    }

    .Slider .swiper {
        width: 453px;
        height: 200px;
    }
    .Slider .mySwiper {
        width: 100% !important; 
        height: 250px !important; 
        background-color: white;
    }
    .Slider {
        background-color: black;
        width: 100%; /* Take full phone width */
      
        
    }
    .Slider {
     
        width: 100vw; /* Use the actual viewport width */
       
    }
   .Slider .swiper-slide{
        width: 200px !important
    }
   
   .Slider .mySwiper {
        width: 100vw !important; 
        height: 350px !important; 
    }
    .Slider {
    width: 420px !important; 
    margin: 0 !important;
    padding: 0 !important;
  }

  .Slider .mySwiper {
    width: 100% !important;
    height: 300px !important;
  }

  
  .Slider .swiper-slide {
    width: auto !important; 

  }
}