.Entertainment-Section  .swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 0px !important;
  object-fit: cover;
}

.Entertainment-Section .swiper-slide{
    border-radius: 0px !important; 
    object-fit: cover;
    overflow: hidden;
    height: 400px ;
    object-fit: cover ;
}
.Margin-Slider{
    margin-top: -22px;
}
.ButtononImage{
    position:absolute;
    z-index: 20000;
    background-color: blue;
    top: 0px;
    left: 0px;

}
