.Image-Why-Home{
  border-radius: 20px;
  
}
.Main-Heading {
   
}


@media screen and (max-width:500px){
  .Mobile-Reason{
    flex-direction: column;
    width: 100%;
  }
  .Image-Why-Home{
   width: 90%;
  }
  .Mobile-text-Reason{
    width: 100%;
  }
  .Main-Heading{font-size: 20px;
  margin-top: 50px;}
}