 .Image-Profile-Page{

    border-radius: 50%;
    height: 150px;
    width: 150px;
  

   

 }
 .CArt-Flex-Profile{
   gap: -10px !important;

 }
 .Profile-Personal{
   gap:100px
 }
 .Profile-Personal1{
   gap:76px
 }
 .Profile-Personal2{

   gap:90px

 }
  .Profile-Personal3{
   gap:110px
 }
 .Profile-Personal4{
    gap:120px
 }
 .Profile-Personal5{
    gap:130px
 }
 .Profile-Personal-Details{
  
   padding-top: 50px;
   padding-bottom: 50px;
   padding-left: 160px;
 }
  .Profile-Personal6{
    gap:100px
 }

   .Profile-Personal7{
    gap:55px
 }
   .Profile-Personal8{
    gap:105px
 }
   .Profile-Personal9{
    gap:120px
 }
   .Profile-Personal10{
    gap:80px
 }
  .Profile-Personal11{
    gap:95px
 }
  .Profile-Personal12{
    gap:130px
 }
   .Profile-Personal13{
    gap:40px
 }
   .Profile-Personal14{
    gap:70px
 }
   .Profile-Personal15{
    gap:50px
 }
    .Profile-Personal115{
    gap:88px
 }
   .Profile-Personal16{
    gap:95px
 }
   .Profile-Personal17{
    gap:35px
 }
   .Profile-Personal18{
    gap:105px
 }
   .Profile-Personal19{
    gap:60px
 }
   .Profile-Personal20{
    gap:135px
 }.Profile-Personal21{
    gap:70px
 }
.Gap-Profile{
   gap: 150px;
}
.Gap-Profile1{
   gap: 80px;
   margin-left: 0px;
   padding: 70px;
}


@media screen and (max-width:500px){

.Mobile-Profile-Image{
   max-height: 100px;
}
.Mobile-Profile-PartOne{
   flex-direction: column;
   margin-top: -40px;
}
.Mobile-P1{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
  margin-top: -30px;

}
.Image-Mobile{
   background-color: white;
   border: none;
}
.Mobile-PartTwo{
   flex-direction: column;
   padding-left: 30px;
}
.Mobile-PartThree{
   flex-direction: column;  padding-left: 50px;
}
.Profile-Personal5{
    gap:30px
}
.Mobile-Text-Resposiveness{
  flex-direction: column;
   width: 100%;
  justify-content: start;
  align-items: flex-start;

}
.Mobile-labelTextboxes {
   width: 100%;
}

}

.mui-textarea {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.4375em;
  padding: 16.5px 14px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  resize: vertical; /* Allows user to resize height only */
  
  /* Default Border Color */
  border: 1px solid rgba(0, 0, 0, 0.23);
  background-color: transparent;
  transition: border-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

/* Hover State */
.mui-textarea:hover {
  border-color: rgba(0, 0, 0, 0.87);
}

/* Focused State */
.mui-textarea:focus {
  border: 2px solid #1976d2;
  /* Adjust padding slightly so text doesn't "jump" when border goes from 1px to 2px */
  padding: 15.5px 13px;
}

/* Placeholder Style */
.mui-textarea::placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}