 .Image-Profile-Page{

    border-radius: 50%;
    height: 150px;
    width: 150px;
  

   

 }
 .CArt-Flex-Profile{
   gap: -10px !important;

 }
 .Profile-Personal{
   gap:100px
 }
 .Profile-Personal1{
   gap:76px
 }
 .Profile-Personal2{

   gap:90px

 }
  .Profile-Personal3{
   gap:110px
 }
 .Profile-Personal4{
    gap:120px
 }
 .Profile-Personal5{
    gap:130px
 }
 .Profile-Personal-Details{
  
   padding-top: 50px;
   padding-bottom: 50px;
   padding-left: 160px;
 }
  .Profile-Personal6{
    gap:100px
 }

   .Profile-Personal7{
    gap:55px
 }
   .Profile-Personal8{
    gap:105px
 }
   .Profile-Personal9{
    gap:120px
 }
   .Profile-Personal10{
    gap:80px
 }
  .Profile-Personal11{
    gap:95px
 }
  .Profile-Personal12{
    gap:130px
 }
   .Profile-Personal13{
    gap:40px
 }
   .Profile-Personal14{
    gap:70px
 }
   .Profile-Personal15{
    gap:50px
 }
    .Profile-Personal115{
    gap:88px
 }
   .Profile-Personal16{
    gap:95px
 }
   .Profile-Personal17{
    gap:35px
 }
   .Profile-Personal18{
    gap:105px
 }
   .Profile-Personal19{
    gap:60px
 }
   .Profile-Personal20{
    gap:135px
 }.Profile-Personal21{
    gap:70px
 }
.Gap-Profile{
   gap: 150px;
}


@media screen and (max-width:500px){

.Mobile-Profile-Image{
   max-height: 100px;
}
.Mobile-Profile-PartOne{
   flex-direction: column;
   margin-top: -40px;
}
.Mobile-P1{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
  margin-top: -30px;

}
.Image-Mobile{
   background-color: white;
   border: none;
}
.Mobile-PartTwo{
   flex-direction: column;
   padding-left: 50px;
}
.Mobile-PartThree{
   flex-direction: column;  padding-left: 50px;
}
.Profile-Personal5{
    gap:90px
}


}